* {
  box-sizing: border-box;
  text-align: center;
}
body {
  margin: 0px;
  padding: 0px;
  height: 300vh;
}
.headpic {
  border: 1px solid black;
  background-image: url("headpic.webp");
  /* background-repeat: no-repeat; */
  /* background-size: 100%; */
  height: 20vh;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
  min-width: 5%;
  max-width: 30%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}
.outside {
  width: 80%;
  margin-left: 15%;
  margin-right: 15%;
}
.nav {
  position: sticky;
  top: 0px;
}
.nav a {
  text-decoration: none;
  color: white;
}
.maincontent {
  display: inline-block;
  float: left;
  margin: 10px;
  width: 70%;
}
.mainaside {
  display: inline-block;
  float: right;
  margin: 10px;
  width: 25%;
}
.content {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  height: 50vh;
  box-shadow: inset 1px 1px 10px black;
  padding: 10px;
}
#pic {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  height: 50vh;
  /* width: 100%; */
  box-shadow: inset 1px 1px 10px black;
  /* background-image: url("pic1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%; */
  /* height: fit-content;
  width: fit-content;*/
}
.hero-image{
  position: relative;
  width: 100%;
  /* width: 300px; */
  height: 300px; 
}
.image{
  display: block;
  width: 100%;
  height: 100%;
}
.hero-image:hover .pictitle {
  opacity: 1;
}
.pictitle{
  position: absolute; 
  bottom: 0; 
  background: rgb(253, 252, 252);
  background: rgba(29, 28, 28, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: left;
  
}

#contact {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  height: 10vh;
  box-shadow: inset 1px 1px 10px black;
  padding: 10px;
}
.pic div {
  background-image: url("/pic.jpg");
}

.aside1 {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  height: 24vh;
  box-shadow: inset 1px 1px 10px black;
}
.aside2 {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  height: 25vh;
  box-shadow: inset 1px 1px 10px black;
}
footer{
  display: inline-block;
  text-align: center;
  width: 30%;
}
#footer a{
  text-decoration: none;
  color: black;
}
#footer a:after{
  content: "\00A9  by sumiya" ;
}
.clear {
  clear: both;
}

/* Set default styles for tab content */

/* Style each tab content individually */
